.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 31px 0;
}

.site-header__link:hover{
    opacity: 0.6;
}

.site-header__menu{
    width: 447px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.button{
    display: none;
    width: 32px;
    height: 32px;
    border: 2px solid #2C2830;
    background-color: #fff;
    padding: 5px;
    margin: 0;
}

.button__span{
    display: block;
    width: 16px;
    height: 1.5px;
    background-color: #2C2830;
    margin-bottom: 3.5px;
    padding: 0;
}

.site-header__item{
    margin: 0;
    padding: 0;
}

.site-header__link1{
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    color: #837D88;
    font-size: 13px;
    text-transform: uppercase;
}

.site-header__link1:hover{
    color: #2C2830;
}

.site-header__link2{
    text-decoration: none;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    width: 146px;
    border: 1.5px solid #2C2830;
    padding: 13px 28px;
    color: #2C2830;
}

.site-header__link2:hover{
    background-color: #2C2830;
    color: #fff;
}


@media only screen and (max-width:375px){
    .container{
        width: 100%;
        padding: 0 20px;
    }

    .site-header{
        width: 100%;
        padding: 31px 24px;
    }

    .site-header__menu{
        display: none;
    }

    .button{
        display: block;
    }
}