.find{
    margin-top: 158px;
    padding: 0;
}

.find__about{
    width: 1110px;
    margin: 0 auto;
    padding: 69px 80px;
    background-image: url(../../images/find-bg.jpg);
    width: 100%;
    height: 250px;
}

.find__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find__info{
    width: 488px;
    margin: 0;
    padding: 0;
}

.find__title{
    font-family: "DM Serif Display", sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.find__link{
    text-decoration: none;
    color: #fff;
    font-family: "Karla", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    width: 160px;
    margin: 0;
    padding: 13px 25px;
    border: 2px solid #FFFFFF;
}

.find__link:hover{
    background-color: #fff;
    color: #2C2830;
}

@media only screen and (max-width:375px){
    .container{
        width: 100%;
    }

    .find{
        width: 100%;
        margin-top: 140px;
    }

    .find__about{
        width: 100%;
        background-image: url(../../images/find-bg2.jpg);
        width: 327px;
        height: 344px;
        margin: 0 auto;
        padding: 72px 24px;
    }

    .find__div{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .find__info{
        width: 279px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 0;
    }

    .find__title{
        font-size: 40px;
    }
}